// Load Fonts
// -------------------------
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900,100italic,300italic,400italic,500italic,700italic,900italic);

// Load Master Styles
// -------------------------
@import "../../../../Styles/Bootstrap/variables.less";
@import "../../../../Styles/_rock-core.less";
@import "../../../../Styles/_store.less";
@import "../../../../Styles/_rock-variables.less";
@import "./_variables.less";
@import "./_variable-overrides.less";
@import "./_print.less";


/*
    Rock Theme Styles

    1. HTML Overrides
    2. Bootstrap Overides
    3. Theme Styling
    4. Responsive Overrides

*/

// 1. HTML Overrides
// -------------------------

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: @primary-color;
}

main {
    display: block;
}

h1, .h1-size { font-size: @font-size-h1; }
h2, .h2-size { font-size: @font-size-h2; }
h3, .h3-size { font-size: @font-size-h3; }
h4, .h4-size { font-size: @font-size-h4; }
h5, .h5-size { font-size: @font-size-h5; }
h6, .h6-size { font-size: @font-size-h6; }

h1, h2, h3, h4, h5, h6, p, ul, ol {
    margin-bottom: @spacing-md-px;
    letter-spacing: -.3px;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
    font-weight: 700;
    letter-spacing: -1px;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

ul, ol {
    padding-left: @spacing-lg-px/3;

    &.list--plain {
        list-style: none;
        padding-left: 0;
    }
}

img {
    display: inline-block;
    max-width: 100%;
}

// 2. Bootstrap Overrides
// -------------------------

.indicates-required {
  margin-bottom: @spacing-lg-px;
}

.inline-block {
  display: inline-block;
}

.shell {
    position: relative;
    padding: @spacing-lg-px @spacing-lg-px/2 @spacing-lg-px/2;
    max-width: 1280px;
    margin: 0 auto;
}

.btn {
    font-weight: 700;
    border-width: 0;
}

header {
    position: relative;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,.2);

    .shell {
        height: 80px;
    }

    .page-menu, .login-status {
        float: none !important;
    }

    .logo {
        position: absolute;
        top: 50%;
        left: 15px;
        margin-top: -30px;
    }
}

.navbar-toggle {
    position: absolute;
    top: 50%;
    right: 18px;
    margin: 0;
    margin-top: -22px;
    padding: 0;
    font-size: @font-size-base*1.5;
}

.navbar-collapse {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background-color: @medium-color;
    z-index: 100;
    padding: 0;
    height: auto;

    &.collapse {
        height: 0 !important;
        overflow: hidden !important;
    }
}

.loginstatus > li {
    text-align: left;
    min-width: 0;
}

.navbar-nav {
    display: inline-block;
    width: 100%;
    margin: 0;
    float: none;

    & > li {
        float: none;
        margin-bottom: 0;

        .divider {
            display: none;
        }

        & > a {
            font-weight: 700;
            color: @dark-color;
            text-decoration: none;
            border-radius: 3px;

            &:hover {
                background-color: @primary-color;
                color: @light-color;
            }
        }
    }
}

.dropdown {
    margin-bottom: @spacing-lg-px/6;

    &.open {
        .dropdown-toggle {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .dropdown-toggle, .dropdown-toggle:focus {
        background-color: @dark-color;
        color: @light-color;
    }

    .dropdown-toggle:hover {
        background-color: @primary-color;
        color: @light-color;
    }

    .profile-photo {
        position: absolute;
        top: 50%;
        right: 5px;
        width: @spacing-lg-px/3*1.8;
        height: @spacing-lg-px/3*1.8;
        margin-top: -@spacing-lg-px/3*1.8/2;
        border-radius: 2px;
    }
}

.dropdown-menu {    
    & > li {
        margin-bottom: 0;

        & > a {
            font-size: @font-size-base;
            font-weight: 700;
            text-decoration: none;

            &:hover {
                background-color: transparent;
                color: @primary-color;
            }
        }
    }
}

.navbar-nav {
    .open {
        .dropdown-menu {
            background-color: @light-color;

            & > li {
                & > a {
                    padding: @padding-small-vertical*2 @padding-small-horizontal*2;
                }
            }
        }
    }
}

.nav {
    .open {
        & > a, & > a:hover, & > a:focus {
            background-color: @primary-color;
            color: @light-color;
        }
    }
}


// 3. Theme Styling
// -------------------------

pre {
  margin-bottom: @spacing-lg-px/2 !important;
  font-size: 17px;
  line-height: 27px;
  letter-spacing: 0.25px;
}

.full-width { width: 100%; }

.flush { margin: 0px !important; }

.hard { padding: 0 !important; }
.hard--ends { padding-top: 0 !important; padding-bottom: 0 !important; }
.hard--sides { padding-left: 0 !important; padding-right: 0 !important; }
.hard--top { padding-top: 0 !important; }
.hard--right { padding-right: 0 !important; }
.hard--bottom { padding-bottom: 0 !important; }
.hard--left { padding-left: 0 !important; }

.pull-none { float: none !important; }

.push--top { margin-top: @spacing-lg-px !important; }
.push--right { margin-right: @spacing-lg-px !important; }
.push--bottom { margin-bottom: @spacing-lg-px !important; }
.push--left { margin-left: @spacing-lg-px !important; }
.push-half--top { margin-top: @spacing-lg-px/2 !important; }
.push-half--right { margin-right: @spacing-lg-px/2 !important; }
.push-half--bottom { margin-bottom: @spacing-lg-px/2 !important; }
.push-half--left { margin-left: @spacing-lg-px/2 !important; }
.push-quarter--top { margin-top: @spacing-lg-px/4 !important; }
.push-quarter--right { margin-right: @spacing-lg-px/4 !important; }
.push-quarter--bottom { margin-bottom: @spacing-lg-px/4 !important; }
.push-quarter--left { margin-left: @spacing-lg-px/4 !important; }

.soft { padding: @spacing-lg-px !important; }
.soft--ends { padding-top: @spacing-lg-px !important; padding-bottom: @spacing-lg-px !important; }
.soft--sides { padding-left: @spacing-lg-px !important; padding-right: @spacing-lg-px !important; }
.soft--top { padding-top: @spacing-lg-px !important; }
.soft--right { padding-right: @spacing-lg-px !important; }
.soft--bottom { padding-bottom: @spacing-lg-px !important; }
.soft--left { padding-left: @spacing-lg-px !important; }

.soft-half { padding: @spacing-lg-px/2 !important; }
.soft-half--ends { padding-top: @spacing-lg-px/2 !important; padding-bottom: @spacing-lg-px/2 !important; }
.soft-half--sides { padding-left: @spacing-lg-px/2 !important; padding-right: @spacing-lg-px/2 !important; }
.soft-half--top { padding-top: @spacing-lg-px/2 !important; }
.soft-half--right { padding-right: @spacing-lg-px/2 !important; }
.soft-half--bottom { padding-bottom: @spacing-lg-px/2 !important; }
.soft-half--left { padding-left: @spacing-lg-px/2 !important; }

.soft-quarter { padding: @spacing-lg-px/4 !important; }
.soft-quarter--ends { padding-top: @spacing-lg-px/4 !important; padding-bottom: @spacing-lg-px/4 !important; }
.soft-quarter--sides { padding-left: @spacing-lg-px/4 !important; padding-right: @spacing-lg-px/4 !important; }
.soft-quarter--top { padding-top: @spacing-lg-px/4 !important; }
.soft-quarter--right { padding-right: @spacing-lg-px/4 !important; }
.soft-quarter--bottom { padding-bottom: @spacing-lg-px/4 !important; }
.soft-quarter--left { padding-left: @spacing-lg-px/4 !important; }

.push { margin: @spacing-lg-px !important; }
.push--ends { margin: @spacing-lg-px 0 @spacing-lg-px !important; }
.push--sides { margin: 0 @spacing-lg-px 0 !important; }
.push--top { margin-top: @spacing-lg-px !important; }
.push--right { margin-right: @spacing-lg-px !important; }
.push--bottom { margin-bottom: @spacing-lg-px !important; }
.push--left { margin-left: @spacing-lg-px !important; }

.push-half { margin: @spacing-lg-px / 2 !important; }
.push-half--ends { margin: @spacing-lg-px / 2 0 @spacing-lg-px / 2 !important; }
.push-half--sides { margin: 0 @spacing-lg-px / 2 0 !important; }
.push-half--top { margin-top: @spacing-lg-px / 2 !important; }
.push-half--right { margin-right: @spacing-lg-px / 2 !important; }
.push-half--bottom { margin-bottom: @spacing-lg-px / 2 !important; }
.push-half--left { margin-left: @spacing-lg-px / 2 !important; }

.background--fill {
    background-size: cover;
    background-position: center;
}

.ratio__item {
    .floating__item {
        & > *:last-child {
            margin-bottom: 0px;
        }
    }
}

// Overlays

.overlay--light {
    *:not(.btn) {
        color: @light-color;
    }
}

.overlay--gradient {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,.3) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,.3) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,.3) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        opacity: .7;
    }
}

.overlay--solid, .overlay--solid-dark {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(25,25,25,1);
        opacity: .5;
    }
}

.overlay--solid-dark {
    &:after {
        opacity: .8;
    }
}

.overlay__item {
    position: relative;
    z-index: 1;
}

// Ratios

.ratio {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  
  &:before {
    content: "";
    display: block;
  }
}

.ratio__item {
  display: inline-block;
  z-index: 1;
  width:100%;
  background-size: cover;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
}


/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
  .ratio {
    
    &:before {
      display: none;
    }
  }
  
  .ratio__item {
    position: relative;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  
  .ratio {
    
    &:before {
      display: none;
    }
  }
  
  .ratio__item {
    position: relative;
  }
}

.ratio--landscape {
  &:extend(.ratio);
  
  &:before {
    &:extend(.ratio:before);
    padding-top: 50%;
  }
}

.ratio--square {
  &:extend(.ratio);
  
  &:before {
    &:extend(.ratio:before);
    padding-top: 100%;
  }
}

.ratio-portrait {
  &:extend(.ratio);
  
  &:before {
    &:extend(.ratio:before);
    padding-top: 200%;
  }
}

// Floating

.floating {
  text-align: center;
  
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em;
  }
  
  .floating__item {
    display: inline-block;
    vertical-align: middle;
  }
}

// Background Classes
.bg-primary { 
    background-color: @primary-color;

    a:not(.btn) {
        color: darken(@primary-color, 30%);
    }
}

.bg-dark { 
    background-color: @dark-color;
    color: @light-color;
}

.bg-medium { 
    background-color: @medium-color; 
}


// Links & Buttons
a {
    text-decoration: underline;
}

.btn {
    text-decoration: none;
    font-size: @font-size-base*.9;
}

.btn-dark {
    color: @light-color;
    background-color: @dark-color;

    &:hover, &:focus {
        background-color: darken(@dark-color, 5%);
        color: @light-color;
    }
}

.btn-secondary {
    color: @light-color;
    background-color: darken(@primary-color, 20%);

    &:hover, &:focus {
        background-color: darken(@primary-color, 25%);
        color: @light-color;
    }
}

// Cards
.card {
    &.card--opaque {
        padding: @spacing-lg-px/2;
        padding-bottom: 0;
        overflow: hidden;
        background-color: @light-color;
        border-radius: 2px;
        box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
}

// Inputs

input {
    border: 1px solid darken(@medium-color, 20%);

    &:focus {
        border-color: @primary-color;
        outline: 0;
    }
}

.page-icon {
    display: none;
}

header {
    .page-menu,
    .login-status {
        float: right;
    }
}

.navbar {
    border: 0;

    a {
        text-decoration: none;
        font-size: @font-size-base*.9;
        font-weight: 700;
    }
}


.nav--vertical {

  a {
    text-decoration: none;
  }
}

// homepage items
#announcement-rotator {
    margin: 0 -@grid-gutter-width/2 @spacing-lg-px;

    .item {
        img {
            width: 100%;
        }
    }
}

.announcement-list {
    .announcement {
        margin: 0 auto @spacing-lg-px;
        max-width: 390px;
    }

    .announcement-title {
        margin: @spacing-sm-px 0;
    }

    img {
        width: 100%;
    }
}

.announcement-detail {
    img {
        width: 100%;
    }
}

.nav-sub {
    li {
        border: 1px solid @gray-lighter;
        border-radius: @border-radius-base;
    }
}

footer {
    margin-bottom: 50px;

    .footer-message {
        float: left;
    }

    .footer-address {
        float: right;
    }
}

#splash.error {
    background-color: @gray-lighter;

    #content {
        margin-top: 20px;
        background-color: @body-bg;
        border-radius: @border-radius-base;
        padding: 20px;
    }
}

.not-found h2 {
    font-size: 200px;
    font-weight: @font-weight-bold;
    letter-spacing: -5px;
    line-height: 210px;

    i {
        color: #F03;
        font-size: 210px;
        position: relative;
        top: -12px;
    }
}

/* hide block panels */
.panel.panel-block {
    border: 0;
    box-shadow: none;

    & > .panel-heading {
        display: none;
    }

    & > .panel-body {
        padding: 0;

        .grid.grid-panel {
            margin: 0;
        }
    }
}

// 4. Responsive Overrides
// -------------------------

// default styling should be for phones 767px or less

// Small devices ONLY
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {

    .navbar-toggle {
        display: inline-block;
    }

}

// Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {

    #announcement-rotator {
        margin: @spacing-lg-px 0;
    }

}

// Medium devices ONLY
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) {

    .md-hard {
        padding: 0px !important;
    }

    .navbar-toggle {
        display: inline-block;
    }

}

// Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {

    h1, .h1-size { font-size: @font-size-h1*1.5; }
    h2, .h2-size { font-size: @font-size-h2*1.3; }
    h3, .h3-size { font-size: @font-size-h3*1.1; }
    h4, .h4-size { font-size: @font-size-h4*1.1; }
    h5, .h5-size { font-size: @font-size-h5*1.1; }
    h6, .h6-size { font-size: @font-size-h6*1.1; }

    .shell {
        padding: @spacing-lg-px*1.5 @spacing-lg-px @spacing-lg-px;
    }

}

// Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {

    .lg-hard {
        padding: 0px !important;
    }

    header {
        height: auto;

        .shell {
            height: auto;
        }

        .page-menu, .login-status {
            float: right !important;
        }
    }

    .navbar-nav {
        float: left;

        li {
            float: left;

            a {
                padding: @padding-large-vertical*2.5 @padding-large-horizontal;
                border-radius: 0;
            }

            &.active {
                a {
                    background-color: @dark-color;
                    color: @primary-color;
                }
            }
        }
    }

    .navbar-collapse {
        position: relative;
        top: 0;
        background-color: transparent;
        z-index: 1;

        &.collapse {
            height: auto !important;
            overflow: visible !important;
        }
    }

    .logo {
        z-index: 2;
    }

    .loginstatus {
        .dropdown-toggle, .dropdown-toggle:focus {
            padding-right: @spacing-lg-px*1.2;
            background-color: transparent;
            color: @dark-color;
        }

        .profile-photo {
            border-radius: 5px;
            margin-right: @spacing-lg-px/4;
        }

        .dropdown-toggle:hover {
            background-color: @primary-color;
            color: @light-color;
        }

        .dropdown-menu {
            width: 100%;
            box-shadow: 0 1px 2px rgba(0,0,0,.1);
            border: 0;
        }
    }

    .dropdown {
        margin-bottom: 0;
    }
}

@media (max-width: @screen-sm-max) {

  .handheld {
    &-text-center {
      text-align: center;
    }
  }
  
  .sm-ratio--landscape {
    &:extend(.ratio);

    &:before {
      &:extend(.ratio:before);
      padding-top: 50%;
      display: block;
    }
    
    & > .ratio__item {
      position: absolute;
    }
  }
  
  .sm-ratio--portrait {
    &:extend(.ratio);

    &:before {
      &:extend(.ratio:before);
      padding-top: 200%;
      display: block;
    }
    
    & > .ratio__item {
      position: absolute;
    }
  }
  
  .sm-ratio--square {
    &:extend(.ratio);

    &:before {
      &:extend(.ratio:before);
      display: block;
      padding-top: 100%;
    }
    
    & > .ratio__item {
      position: absolute;
    }
  }
}

@media (max-width: @screen-xs-max) {

  // .row > div + div[class^="col"] {
  //   margin-top: @spacing-lg-px/2;

  //   &:last-of-type {
  //       margin-bottom: @spacing-lg-px/2;
  //   }
  // }
    
  .xs-ratio--landscape {
    &:extend(.ratio);

    &:before {
      &:extend(.ratio:before);
      padding-top: 50%;
      display: block;
    }
    
    & > .ratio__item {
      position: absolute;
    }
  }
  
  .xs-ratio--portrait {
    &:extend(.ratio);

    &:before {
      &:extend(.ratio:before);
      padding-top: 200%;
      display: block;
    }
    
    & > .ratio__item {
      position: absolute;
    }
  }
  
  .xs-ratio--square {
    &:extend(.ratio);

    &:before {
      &:extend(.ratio:before);
      display: block;
      padding-top: 100%;
    }
    
    & > .ratio__item {
      position: absolute;
    }
  }

    .soft { padding: @spacing-lg-px/2 !important; }
    .soft--ends { padding-top: @spacing-lg-px/2 !important; padding-bottom: @spacing-lg-px/2 !important; }
    .soft--sides { padding-left: @spacing-lg-px/2 !important; padding-right: @spacing-lg-px/2 !important; }
    .soft--top { padding-top: @spacing-lg-px/2 !important; }
    .soft--right { padding-right: @spacing-lg-px/2 !important; }
    .soft--bottom { padding-bottom: @spacing-lg-px/2 !important; }
    .soft--left { padding-left: @spacing-lg-px/2 !important; }

}